body{
	min-width: 320px !important;
}
.CursorPointer{
	cursor: pointer;
}
.CursorPointer:hover{
	color: #1296db;
	font-weight: bold;
}
.Padding_10{
	padding: 10px;
}
.PaddingL_10{
	padding-left: 10px;
}
.PaddingL_20{
	padding-left: 20px;
}
.PaddingR_20{
	padding-right: 20px;
}
.Padding_20{
	padding: 20px;
}
.LineBlock{
	width: 200%;
  height: 5px;
  margin-left: -20%;
  background: linear-gradient(90deg,#aadb1e 0,#006a91);
}
.TextCenter{
	text-align: center !important;
}
.TextLeft{
	text-align: left;
}
.TextRight{
	text-align: right;
}
.padding_20{
	padding: 20px;
}
.MarginT_20{
	margin-top: 20px;
}
.MarginB_40{
	margin-bottom: 40px;
}
.MarginT_40{
	margin-top: 40px;
}
.MarginB_20{
	margin-bottom: 20px;
}
.SmallTit{
	font-weight: bold;
	font-size: 12px;
}
.smallSize{
	font-size: 12px;
}
/*article*/
.ArticleMainContentBox img{
  max-width: 100% !important;
}
.AboutztnetMainContentBox img{
  max-width: 100% !important;
}
.SecondMenuMainContentBox img{
  max-width: 100% !important;
}
img{
  max-width: 100% !important;
}